<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>The title</title>
        <link rel="stylesheet" type="text/css" href="2phacker.css">        
    </head>
    <body>

        <header>
            <h1>The title again</h1>
            <!-- some fancy intro from where ... ? simple subtitle -->
        </header>

        <main>
            <!-- The four main categories. Sorting ? -->
            <section class="docs">
                <h2>📰 DOCS</h2>
                <div class="section-box">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, omnis iste ea minus hic officia. Eaque esse dolorum adipisci perspiciatis, ullam saepe quisquam beatae vitae magni! Deleniti possimus itaque inventore!
                </div>
            </section>
            <section class="videos">
                <h2>🎥 VIDEOS</h2>
                <div class="section-box">
                    Ullam saepe quisquam beatae vitae magni! Deleniti possimus itaque inventore!
                </div>
            </section>
            <section class="images">
                <h2>🖼️ IMAGES</h2>
                <div class="section-box">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, omnis iste ea minus hic officia. Eaque esse dolorum adipisci perspiciatis, ullam saepe quisquam beatae vitae magni! Deleniti possimus itaque inventore!
                </div>
            </section>
            <section class="sounds">
                <h2>🎶 SOUNDS</h2>
                <div class="section-box">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, omnis iste ea minus hic officia. Eaque esse dolorum adipisci perspiciatis, ullam saepe quisquam beatae vitae magni! Deleniti possimus itaque inventore!
                </div>
            </section>
        </main>

        <footer>(c) 1 hacker & co. @x4e_ch <!-- contact social blah, abgesetzt dezent / logos --></footer>
    </body>
</html>